# Predicting daily price

In [6]:
import yfinance as yf
import pandas as pd 
import numpy as np

In [7]:
nifty50 = pd.read_csv("../data/nifty-500.csv")
nifty50_symbols = (nifty50['Symbol'] + ".NS").to_list()

In [8]:
# downloading nifty 50 data from yfinance

nifty50_df = yf.download(tickers=nifty50_symbols, start="2014-01-01", period='1d')
nifty50_df

[*********************100%%**********************]  501 of 501 completed

4 Failed downloads:
['WELSPUNIND.NS', 'MFL.NS', 'AMARAJABAT.NS']: Exception('%ticker%: No timezone found, symbol may be delisted')
['L&TFH.NS']: Exception('%ticker%: No data found, symbol may be delisted')

Price        Adj Close                                                       \
Ticker       360ONE.NS    3MINDIA.NS AARTIDRUGS.NS AARTIIND.NS     AAVAS.NS
Date
2014-01-01         NaN   3479.126709     25.990023   22.233253          NaN
2014-01-02         NaN   3455.266357     25.042318   21.683037          NaN
2014-01-03         NaN   3486.983887     24.513903   21.458460          NaN
2014-01-06         NaN   3387.232422     24.910215   21.649351          NaN
2014-01-07         NaN   3583.764893     24.852783   21.593210          NaN
...                ...           ...           ...         ...          ...
2024-06-25  836.599976  37862.898438    516.849976  695.200012  1855.150024
2024-06-26  889.200012  37182.648438    512.900024  694.549988  1869.500000
2024-06-27  934.700012  37466.750000    503.549988  687.200012  1872.500000
2024-06-28  980.150024  36804.300781    504.549988  686.250000  1853.099976
2024-07-01  973.000000  37857.101562    527.799988  704.849976  1855.050049

Price                                                                        \
Ticker           ABB.NS ABBOTINDIA.NS ABCAPITAL.NS    ABFRL.NS       ACC.NS
Date
2014-01-01   591.944824   1549.109253          NaN   87.530800   956.877686
2014-01-02   580.211243   1529.728394          NaN   84.622963   947.511292
2014-01-03   574.948364   1525.787476          NaN   83.587975   940.044250
2014-01-06   577.407166   1557.964844          NaN   85.312965   936.634338
2014-01-07   570.979492   1567.005859          NaN   83.883682   936.807068
...                 ...           ...          ...         ...          ...
2024-06-25  8399.650391  26855.599609   237.520004  318.299988  2569.699951
2024-06-26  8390.849609  27639.550781   237.600006  320.649994  2590.899902
2024-06-27  8643.049805  27377.449219   235.350006  318.450012  2637.000000
2024-06-28  8490.900391  27624.099609   238.710007  312.149994  2619.050049
2024-07-01  8587.400391  27624.849609   240.199997  322.500000  2749.600098

Price       ...      Volume                                              \
Ticker      ... WESTLIFE.NS WHIRLPOOL.NS  WIPRO.NS YESBANK.NS   ZEEL.NS
Date        ...
2014-01-01  ...         NaN         8934   1181351    6697155    406220
2014-01-02  ...         NaN        37946   2441295   30635905   1450520
2014-01-03  ...         NaN        10815   2953767   19839425    939877
2014-01-06  ...         NaN        44188   4948206   15155620   3360584
2014-01-07  ...         NaN        16616   3286111   24125140   2698073
...         ...         ...          ...       ...        ...       ...
2024-06-25  ...    301152.0       279181   4629105  133033834  15834071
2024-06-26  ...    209158.0        49499   6406045  128300377  43164207
2024-06-27  ...    798847.0      2632140  21068569  103940384  71011255
2024-06-28  ...    273786.0       446203   8202916  127903732  16504456
2024-07-01  ...     55484.0       282672  15375552  131958635   8983261

Price
Ticker     ZENSARTECH.NS ZFCVINDIA.NS   ZOMATO.NS ZYDUSLIFE.NS ZYDUSWELL.NS
Date
2014-01-01        471605          812         NaN       508210      18418.0
2014-01-02        455260          883         NaN       251820     216107.0
2014-01-03        296965          218         NaN       121555      11496.0
2014-01-06        533165         1575         NaN       374860      11176.0
2014-01-07        452705          990         NaN       468725      13194.0
...                  ...          ...         ...          ...          ...
2024-06-25        441114        24240  60670560.0      1045293       9768.0
2024-06-26        695251        26435  38934432.0      1354644      20474.0
2024-06-27        865815        27305  32535933.0      1784563      18781.0
2024-06-28        522382        20535  37287397.0      2188481      25676.0
2024-07-01        714987        20249  53515503.0      1910619      44983.0

[2586 rows x 3006 columns]

In [9]:
nifty50_df = nifty50_df.stack()
nifty50_df

Price                        Adj Close         Close          High  \
Date       Ticker
2014-01-01 3MINDIA.NS      3479.126709   3630.800049   3696.899902
           AARTIDRUGS.NS     25.990023     28.281250     28.437500
           AARTIIND.NS       22.233253     24.056429     24.165775
           ABB.NS           591.944824    622.881836    633.866943
           ABBOTINDIA.NS   1549.109253   1670.550049   1699.900024
...                                ...           ...           ...
2024-07-01 ZENSARTECH.NS    754.950012    754.950012    766.000000
           ZFCVINDIA.NS   16008.250000  16008.250000  16094.849609
           ZOMATO.NS        203.970001    203.970001    204.500000
           ZYDUSLIFE.NS    1067.300049   1067.300049   1096.699951
           ZYDUSWELL.NS    1866.050049   1866.050049   1885.099976

Price                              Low          Open      Volume
Date       Ticker
2014-01-01 3MINDIA.NS      3626.000000   3696.899902       149.0
           AARTIDRUGS.NS     28.068750     28.068750     13448.0
           AARTIIND.NS       23.606890     24.056429     94557.0
           ABB.NS           620.657593    624.788330     75730.0
           ABBOTINDIA.NS   1660.000000   1699.900024      1444.0
...                                ...           ...         ...
2024-07-01 ZENSARTECH.NS    738.000000    746.049988    714987.0
           ZFCVINDIA.NS   15590.099609  15780.000000     20249.0
           ZOMATO.NS        194.559998    199.710007  53515503.0
           ZYDUSLIFE.NS    1060.050049   1093.349976   1910619.0
           ZYDUSWELL.NS    1791.000000   1795.000000     44983.0

[1073330 rows x 6 columns]

In [10]:
df = nifty50_df.copy()
df.loc['2024-06-12']

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,,,,,,
360ONE.NS,790.450012,790.450012,794.000000,778.150024,790.000000,403026.0
3MINDIA.NS,36233.601562,36233.601562,36400.000000,35501.000000,35626.500000,10280.0
AARTIDRUGS.NS,513.549988,513.549988,518.049988,510.000000,517.500000,90909.0
AARTIIND.NS,665.650024,665.650024,670.099976,657.500000,662.000000,1125368.0
AAVAS.NS,1907.449951,1907.449951,1934.000000,1850.000000,1869.500000,886997.0
...,...,...,...,...,...,...
ZENSARTECH.NS,699.450012,699.450012,718.000000,693.000000,697.950012,1374199.0
ZFCVINDIA.NS,17665.099609,17665.099609,17959.849609,17466.349609,17885.000000,3670.0
ZOMATO.NS,179.649994,179.649994,184.880005,179.330002,184.389999,42830411.0
ZYDUSLIFE.NS,1096.949951,1096.949951,1102.949951,1073.800049,1088.199951,1120031.0
ZYDUSWELL.NS,1909.750000,1909.750000,1972.800049,1902.050049,1919.949951,36082.0

## Technical analysis indicator addition

In [11]:
import pandas_ta as ta

In [12]:
# calculate moving averages
nifty50_df['EMA-5'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=5))
nifty50_df['EMA-20'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=20))
nifty50_df['EMA-50'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=50))
nifty50_df['EMA-200'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=200))

# calculate RSI
nifty50_df['RSI'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.rsi(x, length=14))

# calculate next open
nifty50_df['Next Open'] = nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x.shift(-1))

# calculate target
nifty50_df['target_1d'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: x.shift(-1))
nifty50_df['target_10d'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: x.shift(-10))
nifty50_df['target_30d'] = nifty50_df.groupby(level='Ticker')['Adj Close'].transform(lambda x: x.shift(-30))

# calculate change
nifty50_df['change_1d'] = ((nifty50_df.groupby(level='Ticker')['target_1d'].transform(lambda x: x) - nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) / nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) * 100
nifty50_df['change_10d'] = ((nifty50_df.groupby(level='Ticker')['target_10d'].transform(lambda x: x) - nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) / nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) * 100
nifty50_df['change_30d'] = ((nifty50_df.groupby(level='Ticker')['target_30d'].transform(lambda x: x) - nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) / nifty50_df.groupby(level='Ticker')['Open'].transform(lambda x: x)) * 100

### handling missing value

In [13]:
nifty50_df.shape

(1073330, 18)

In [14]:
nifty50_df.isnull().sum()

Price
Adj Close         0
Close             0
High              0
Low               0
Open              0
Volume            0
EMA-5          4473
EMA-20         4473
EMA-50         4473
EMA-200        4473
RSI            6958
Next Open       497
target_1d       497
target_10d     4970
target_30d    14910
change_1d       497
change_10d     4970
change_30d    14910
dtype: int64

In [15]:
nifty50_df.dropna(inplace=True)
nifty50_df.isnull().sum()

Price
Adj Close     0
Close         0
High          0
Low           0
Open          0
Volume        0
EMA-5         0
EMA-20        0
EMA-50        0
EMA-200       0
RSI           0
Next Open     0
target_1d     0
target_10d    0
target_30d    0
change_1d     0
change_10d    0
change_30d    0
dtype: int64

In [16]:
nifty50_df.shape

(1051462, 18)

### Training regressiom model to predict next days close price

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge


features = ['EMA-5', 'EMA-20', 'EMA-50', 'EMA-200', 'RSI', 'Volume', 'Next Open', 'Adj Close']

X = nifty50_df[features]
y_1d = nifty50_df['target_1d']
y_10d = nifty50_df['target_10d']
y_30d = nifty50_df['target_30d'] 


# model training to predict one day return.
X_train, X_test, y_train, y_test = train_test_split(X, y_1d, test_size=0.33, random_state=42)

model_1d = LinearRegression()
lasso = Lasso(alpha=0.1)
model_1d.fit(X_train, y_train)
lasso.fit(X_train, y_train)

y_pred = lasso.predict(X_test)

print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")
print(f"R2 Score: {r2_score(y_test, y_pred)}")

Mean Squared Error: 10674.882108534262
R2 Score: 0.9994336878872783

c:\Users\mohit\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.611e+09, tolerance: 1.335e+09
  model = cd_fast.enet_coordinate_descent(

In [26]:
# model to predict 10 days return 
X_train, X_test, y_train, y_test = train_test_split(X, y_10d, test_size=0.33, random_state=42)

model_10d = LinearRegression()
model_10d.fit(X_train, y_train)

lasso2 = Lasso(alpha=1)
lasso2.fit(X_train, y_train)

y_pred = model_10d.predict(X_test)

print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")
print(f"R2 Score: {r2_score(y_test, y_pred)}")

Mean Squared Error: 55602.75309334902
R2 Score: 0.9970793252701226

c:\Users\mohit\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.242e+10, tolerance: 1.351e+09
  model = cd_fast.enet_coordinate_descent(

In [27]:
# model to predict 30 days return 
X_train, X_test, y_train, y_test = train_test_split(X, y_30d, test_size=0.33, random_state=42)

model_30d = LinearRegression()
model_30d.fit(X_train, y_train)

lasso3 = Lasso(alpha=0.1)
lasso3.fit(X_train, y_train)


y_pred = model_30d.predict(X_test)

print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")
print(f"R2 Score: {r2_score(y_test, y_pred)}")

Mean Squared Error: 177507.53335910905
R2 Score: 0.9908996775065543

c:\Users\mohit\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.909e+10, tolerance: 1.385e+09
  model = cd_fast.enet_coordinate_descent(

In [20]:
# calculate moving averages
df['EMA-5'] = df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=5))
df['EMA-20'] = df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=20))
df['EMA-50'] = df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=50))
df['EMA-200'] = df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.ema(x, period=200))

# calculate RSI
df['RSI'] = df.groupby(level='Ticker')['Adj Close'].transform(lambda x: ta.rsi(x, length=14))

# calculate next open
df['Next Open'] = df.groupby(level='Ticker')['Open'].transform(lambda x: x.shift(-1))

In [21]:
df.dropna(inplace=True)
df.loc['2024-06-10']

Price,Adj Close,Close,High,Low,Open,Volume,EMA-5,EMA-20,EMA-50,EMA-200,RSI,Next Open
Ticker,,,,,,,,,,,,
360ONE.NS,792.200012,792.200012,814.950012,785.000000,800.000000,540240.0,785.288365,785.288365,785.288365,785.288365,53.830091,800.000000
3MINDIA.NS,34160.250000,34160.250000,34530.000000,33754.449219,34200.000000,4893.0,33224.272493,33224.272493,33224.272493,33224.272493,64.450805,34415.949219
AARTIDRUGS.NS,512.099976,512.099976,528.000000,510.450012,519.150024,239479.0,494.179045,494.179045,494.179045,494.179045,61.652513,514.000000
AARTIIND.NS,664.049988,664.049988,672.799988,634.549988,647.000000,2859566.0,633.997927,633.997927,633.997927,633.997927,54.826046,667.400024
AAVAS.NS,1735.300049,1735.300049,1741.699951,1675.000000,1719.949951,298064.0,1627.898401,1627.898401,1627.898401,1627.898401,66.172225,1766.699951
...,...,...,...,...,...,...,...,...,...,...,...,...
ZENSARTECH.NS,688.400024,688.400024,699.000000,660.000000,673.150024,1886440.0,639.767651,639.767651,639.767651,639.767651,67.365827,688.400024
ZFCVINDIA.NS,17279.949219,17279.949219,17374.599609,16830.000000,16830.000000,4332.0,16543.552300,16543.552300,16543.552300,16543.552300,66.329026,17279.949219
ZOMATO.NS,182.160004,182.160004,186.500000,181.559998,184.000000,33163473.0,182.113302,182.113302,182.113302,182.113302,47.225151,182.600006
ZYDUSLIFE.NS,1086.050049,1086.050049,1090.000000,1059.000000,1062.900024,1813696.0,1047.453661,1047.453661,1047.453661,1047.453661,61.445161,1087.500000
ZYDUSWELL.NS,1882.250000,1882.250000,1889.900024,1835.300049,1881.550049,55248.0,1817.372712,1817.372712,1817.372712,1817.372712,68.119013,1904.099976

In [33]:
pred = pd.DataFrame({
    "prediction_1d":model_1d.predict(df.loc['2024-06-10'][features]),
    "prediction_10d":model_10d.predict(df.loc['2024-06-10'][features]),
    "prediction_30d":model_30d.predict(df.loc['2024-06-10'][features]), 
    "current_price": (df.loc['2024-06-10']['Adj Close'])
}, index=df.loc['2024-06-10'].index)
pred['change'] = (pred['prediction_1d'] - pred['current_price'])
print(pred['change'].sum())
pred[pred['current_price'] <= 500].sort_values(by='change')

-824.2021709312771

,prediction_1d,prediction_10d,prediction_30d,current_price,change
Ticker,,,,,
BORORENEW.NS,490.420975,496.227338,512.766616,491.750000,-1.329025
BCG.NS,8.640123,11.425803,22.119481,9.920000,-1.279877
SPARC.NS,216.822303,220.940835,234.308910,218.080002,-1.257699
BERGEPAINT.NS,490.706306,496.496614,512.735441,491.950012,-1.243706
RAJESHEXPO.NS,280.937630,285.082175,298.845820,282.149994,-1.212364
...,...,...,...,...,...
IRB.NS,70.003938,68.148636,63.786036,70.160004,-0.156065
TATASTEEL.NS,176.589182,178.825360,184.375688,176.729294,-0.140112
MOTHERSON.NS,164.646870,167.842759,174.688242,164.580002,0.066869
HUDCO.NS,267.374853,271.145300,279.825999,267.299988,0.074865
YESBANK.NS,24.561979,20.284085,7.788757,23.870001,0.691978

## Classification of price movement based on return

In [34]:
pred[pred['current_price'] <= 2000].sort_values(by='change').sum()

prediction_1d     263035.570135
prediction_10d    265695.120150
prediction_30d    272321.069962
current_price     263390.027406
change              -354.457271
dtype: float64